<%= month_calendar events: @events do |date, events| %>
  <%= date.day %>
   <% events.each do |event| %>
    <div>
      <%= event.title %>
      <%= event.start_time.strftime("%H:%M") %>
      <%= event.end_time.strftime("%H:%M") %>
      <%= event.user.email %>
    </div>
  <% end %>
<% end %>

<%= link_to 'Add a game', new_event_path %>

<% timeslot_calendar(events: @events,
                      layout: :vertical,
                      number_of_days: 4,
                      px_per_minute: 2.3,
                      display_grid: true,
                      grid_width: "30px",
                      body_size_px: 600,
                      bucket_by: false,
                      #bucket_by: :event_type,
                      date_format_string: "%d.%m.%Y",
                      #date_heading_format_string: "%d.%m.%Y",
                      display_bucket_title: false,
                      #display_bucket_title: :event_type_name,
                      display_current_time_indicator: true
      ) do |event| %>
  <div class="timeslot-event">
    <%= event.title %>
    <%= event.start_time.strftime("%H:%M") %>
    <%= event.end_time.strftime("%H:%M") %>
    <%= event.content %>
  </div>
<% end %>
